{% load dajaxice_templatetags %}
<html>
  <head>
    <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shaastra 2013</title>
    <link type="text/css" rel="stylesheet" href="{{site_url}}static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="{{site_url}}static/css/fbapp.css">
  </head>
  <body>
    
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     
     
    <div class="container-fluid">
      <div class="row-fluid">
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <ul class="nav">
		<li><a href="http://www.shaastra.org/" target="_blank">Shaastra</a></li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
      <div id="container" class="row-fluid">
	<div class="span6">
	  <div id="content" class="row-fluid">
	  <!--Body content-->
	  {{msg}}
	  <form id="login_form" action="" method="POST">
	  {% cssrf_token %}
	  {{ login_form.as_table }}
	  <p>
	  <button type="submit" class="btn btn-primary">Login</button>
	  </form>
	  </div>
	</div>
	<div class="span6">p
	  <div id="content" class="row-fluid">
	  <!--Body content-->
			 
	  <a href="{{site_url}}fbapp/facebook/login"><button class="btn btn-primary">SIGN UP WITH FACEBOOK</button></a>
	  </div>
	</div>
      </div>
    </div>
    <script type="text/javascript" src="{{site_url}}static/js/jquery.dajax.core.js" charset = "utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{site_url}}static/js/bootstrap-dropdown.js" charset = "utf-8"></script>
    <script type="text/javascript" src="{{site_url}}static/js/bootstrap-collapse.js" charset = "utf-8"></script>
    <script type="text/javascript" src="{{site_url}}static/js/bootstrap-transition.js" charset = "utf-8"></script>
    <script type="text/javascript" src="{{site_url}}static/js/bootstrap-carousel.js" charset = "utf-8"></script>
  </body>
</html>