{% load dajaxice_templatetags %}
<html>
  <head>
    <title>Shaastra 2013</title>
    <link type="text/css" rel="stylesheet" href="{{site_url}}static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="{{site_url}}static/css/fbapp.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <ul class="nav">
		<li><a href="http://www.shaastra.org/" target="_blank">Shaastra</a></li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
      <div id="container" class="row-fluid">
	<div class="span11">
	  <div id="content" class="row-fluid hero-unit">
	  	<h1>Thank you for registering.</h1> <h2>Your support to Shaastra is greatly appreciated!</h2><br>
	  	<span class="pull-right"><h3> - Shaastra 2013 Team </h3></span>
	  </div>
	  <a href="{{site_url}}fbapp/">Back</a>
	</div>
      </div>
    </div>
    <script type="text/javascript" src="{{site_url}}static/js/jquery.dajax.core.js" charset = "utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{site_url}}static/js/bootstrap-dropdown.js" charset = "utf-8"></script>
    <script type="text/javascript" src="{{site_url}}static/js/bootstrap-collapse.js" charset = "utf-8"></script>
    <script type="text/javascript" src="{{site_url}}static/js/bootstrap-transition.js" charset = "utf-8"></script>
    <script type="text/javascript" src="{{site_url}}static/js/bootstrap-carousel.js" charset = "utf-8"></script>
  </body>
</html>